<style>
  nav ul li a {
    font-size: 19px !important;
  }

  .widget-one ul, .widget-second ul {
    padding-left: 40px;
  }

  .single li a {
    border-bottom: 2px solid #000;
  }

  button.is-large {
    margin-top: 10px;
  }

  header img {
    width: 77px;
    border-radius: 0;
    border: none;
  }

  textarea, textarea.comment {
    width: 100% !important;
    float: none;
  }

  img.impressum {
    display: initial;
  }

  .widget-title-share {
    font-size: 120%;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }

  table#stock-overview {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #stock-overview td, #stock-overview th {
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
  }

  #stock-overview tr:nth-child(odd) {background-color: #f2f2f2;}


</style>
