<h3>Übersicht</h3>

<table id="stock-overview">
  <tbody>
  <tr>
    <td>Unternehmen:</td>
    <td><a href="/post/vorstellung-spdr-s-und-p-global-dividend-aristocrats/">SPDR S&P Global Dividend Aristocrats ETF</a></td>
  </tr>
  <tr>
    <td>ISIN:</td>
    <td>IE00B9CQXS71</td>
  </tr>
  <tr>
    <td>Im finanzmatze-Depot seit:</td>
    <td>30.11.2018</td>
  </tr>
  <tr>
    <td>Anzahl der Anteile:</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Durchschnittskaufkurs (exklusive Gebühren):</td>
    <td>28 €</td>
  </tr>
  <tr>
    <td>Gesamtkaufpreis:</td>
    <td>750 €</td>
  </tr>
  <tr>
    <td>Erhaltene Dividenden:</td>
    <td>15,10 €</td>
  </tr>
  </tbody>
</table>

